<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-[#fcf8f8] group/design-root overflow-x-hidden"
      style="--select-button-svg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724px%27 height=%2724px%27 fill=%27rgb(156,78,73)%27 viewBox=%270 0 256 256%27%3e%3cpath d=%27M181.66,170.34a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-48-48a8,8,0,0,1,11.32-11.32L128,212.69l42.34-42.35A8,8,0,0,1,181.66,170.34Zm-96-84.68L128,43.31l42.34,42.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,85.66Z%27%3e%3c/path%3e%3c/svg%3e'); font-family: Manrope, &quot;Noto Sans&quot;, sans-serif;"
    >
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f4e7e7] px-10 py-3">
          <div class="flex items-center gap-4 text-[#1c0e0d]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.0799 24L4 19.2479L9.95537 8.75216L18.04 13.4961L18.0446 4H29.9554L29.96 13.4961L38.0446 8.75216L44 19.2479L35.92 24L44 28.7521L38.0446 39.2479L29.96 34.5039L29.9554 44H18.0446L18.04 34.5039L9.95537 39.2479L4 28.7521L12.0799 24Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2 class="text-[#1c0e0d] text-lg font-bold leading-tight tracking-[-0.015em]">Diptych Creator</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9"></div>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAmVoHyqZ0adrlT1xYfaLi_ykF_o6-mLMBfUi6vccplBQ8FPYBFckTPjnXRU-ZynZBLdduyQ18BQaeZGnJAHuU5FFjwdIN3F1px5MUtKwzI90L6VbJRmYfzKm1ltmVMugNqJu6oGDM5HCDgISMYK7BFdMCx264-enpHtSqGgT2Yl-mfY1ECZB_nZKqFCJD7BARD1MtFH1v8x-z4KYlfRLfmqyXKrYgdYE9xFkp9NJCQ6fw7ClwCVUp_JDstT7heB33qIYlkGJ4tbw");'
            ></div>
          </div>
        </header>
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[920px] flex-1">
            <h2 class="text-[#1c0e0d] tracking-light text-[28px] font-bold leading-tight px-4 text-left pb-3 pt-5">Diptych Creator</h2>
            <p class="text-[#1c0e0d] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Drag and drop images from the left panel into the diptych canvas to create your layout.
            </p>
            <h3 class="text-[#1c0e0d] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Diptych Canvas</h3>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCAO1YTz2-MRnqsejzFvO0Ha027C_y1d59Twebt6s3i7Ce3NQ4slQ9jmBhNNHzuVIhwAH4HR6NVcOfYW-EleA3mzYieXZzYt2lVuFg7Mv2jMv3rYplpc460DmXS_fmtl3soIu9rPBCQFl2I2zH_q1qEZg0c42BWSm8B2xCVZKyBLm8xgPzT9iuI_N4tA0D6_EZJmUU09iQFDHOGZ5nuWEnC0e7eaRqMFXDtO-Tnm1VdzCG8sQtpeLmFVrgcFw9vqr_siOLzeWAYtQ");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuACVi9YM3KrVlWg_molgumqaSfg4mQkzLroI4cGlcGP_C9caqV30wGkYwmFKjR4uMSn9SdKaNAp1miKYqpi9pgzLc6MlUVGIIT-CMvemTHnFaaGIzR_Jk2twEtoHesHy6qvYn4h0fdLDHrF53h91HjmnmqdDR7dTb95d6L8uqq-foR5txjsrTOwoUfgbOwXJpO9KLK3660GkbNWomKMc7vhcvU-4zfmm0wfpvncx0fhAcHOAvTtDfnpcqPfZmbP_5YY8KxQYeuTLg");'
                ></div>
              </div>
            </div>
          </div>
          <div class="layout-content-container flex flex-col w-[360px]">
            <h3 class="text-[#1c0e0d] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Image Pool</h3>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBIZusnCs8w20SEHaUts96fFs9_bnyLONUpZa9jllytD5jCBpyhA44hFq0TG3fAiKnzmVLWQ3wYNY8w1SSTjGKGkIrAFkd0b7d5Bpq1XM2CjOdpM9cUlDrt88KeMqrvh_2EYYJKcm-7_tp1HkcSsybXfoAwyMDcjAbNTKKVAcmlTCwZ7MhIWI178MlJj4s3HJLoVcE30iWTVt0fjYWEo4nYBsRm4qn5y_T9ebvL94Qcg7ky35QbAOIQaJ-Nbywx3CM9c0x1kLfS9A");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCZ6_E_14UgbZNea28_wilBRfpgz3CNF-rt8sIUpua1blQ_jfDvhgeoHlNriIZYN1G14hJL6jg6ZJmYynHXvexoz7mTCFlINDgr3kNyJl7l6n6MVD9_9UxcRTkztCN0QW7SsW6KzExapsDSVraUIFZwgWPtgHevPmoi4P99-kHATHJpI1TxJKRjGHKWcTeD883kRPS1KyNjROoEGZ_Yr-GGoc72Uhig0PrKI4tyLnFE-YtN42xfLgMzSFrrvNEXMIebfI4plPe3WA");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB2Im8Ic6Gh1092zuuMTCAklQQkI1EyDVFeyDk6jRrvAiydt784-rkjX2XjYyNTBF9vkqhuVWhx-IwW7j9LAcZ2fowTc3-g-ZrIqWfH5KJ8H9ZzeVLv5mFBAL9I0NIa8Ix3Mwec2Bt3KZIjL95nCi2roZPokYujHz13gosQGjV761EXHNbcxK3WOcwjRHj_b7hwYz4pvxa-TuR5QwGUEqvH9a2RxHOOAXyrbfjZC5Zttd2EtWorwehGAufIDDl8BtJw1TtYZYuwgg");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCwasvQbOcxvRAwklnagaYMft-bL4-8oVhZJJ1soKG6isRSb9ZeRytpVfzkHQ7waJyjTmzUd20fAmwNx00hH8kVuHVP45dhdi13dvSpB0C0B6Jj-8TdjuVEWyAIhpAkvgRmG2KKHUnMm1kfI6m3B1ZUQuOw94QEIquxOPcY_6LxEHnGqcda3fBi2iuh5QRIYs15FUDFXwO1HaxY2iH-ZtJNADtwKfOYHQijrL-lk88eHISII4J8oUTzWWyZCSQE0Gb85BAjzPSKMg");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCo9XuKgfOyd9VAukVlAIy7eYqt9PIcgQ-jS_eTP9jRp18tqH_llQpR390HelA9rPEIPOpayFcAb7TP2b_8VIg3TnU9SiohYXjkk2SNXXUZathk-Y8labWeQxoGtLcCr2TDBcC7vjMqfcoteYueY6adVxFtdNFPm4-LQrYz5u41gVB23ctdnhcC4W1zMTUzLwkaKzY1K_QLEoPee7Fyu32oQb_ZrcHUxzV1A17_-dtKvlNgfz-b1Q-wXEyYo4NrfojMGVTE79u2yg");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBrWMMqqqafdWAOLfPDinc0gKgFeV86ZAc5GxX1onxebD26OHqlvR73DZccjBFRhjuiJWMelYdRNtwq2ygGcHBfYr9XaM5ix6sx0_xcRH4etE64rW9NECALWk047eddYSnYQLtpAjvWebrJPKLMMoBqCjHOp5mwKNkhP8tCVtMFVC1PuqDUsLom5dG9dw2rpubRy_IY8pzdGwSvW1pykTSb7W6eXwBVjuPlvrrlVxFg19UsjUcxx1lkO1RWYpMfAkRYzyek6Q344A");'
                ></div>
              </div>
            </div>
            <h3 class="text-[#1c0e0d] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Configuration</h3>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1c0e0d] focus:outline-0 focus:ring-0 border border-[#e8d0ce] bg-[#fcf8f8] focus:border-[#e8d0ce] h-14 bg-[image:--select-button-svg] placeholder:text-[#9c4e49] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one">Layout</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1c0e0d] focus:outline-0 focus:ring-0 border border-[#e8d0ce] bg-[#fcf8f8] focus:border-[#e8d0ce] h-14 bg-[image:--select-button-svg] placeholder:text-[#9c4e49] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one">Spacing</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1c0e0d] focus:outline-0 focus:ring-0 border border-[#e8d0ce] bg-[#fcf8f8] focus:border-[#e8d0ce] h-14 bg-[image:--select-button-svg] placeholder:text-[#9c4e49] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one">Background</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex px-4 py-3">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 flex-1 bg-[#d0140a] text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Generate Diptych</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
